nav {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    margin: 0px 30px;
    padding: 0px 90px;
  }
    a {
      text-decoration: none;
      font-size: 13px;
      color: #424342;
      margin: 4px 10px;
  }
   .button {
    background-color: $blue;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;


    &:hover {
      box-shadow: 0 0 2px black;
      transform: scale(1.1);
  }
  
  }

  @media(max-width: 760px) {
    nav{
     padding: 0px;
     margin: 0px;
    }
  }
  